<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsj.studyweb.dao.ArticleuserMapper" >
  <resultMap id="BaseResultMap" type="com.lsj.studyweb.model.Articleuser" >
    <id column="refrenceid" property="refrenceid" jdbcType="CHAR" />
    <result column="arid" property="arid" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    refrenceid, arid, uid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from articleuser
    where refrenceid = #{refrenceid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from articleuser
    where refrenceid = #{refrenceid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.lsj.studyweb.model.Articleuser" >
    insert into articleuser (refrenceid, arid, uid
      )
    values (#{refrenceid,jdbcType=CHAR}, #{arid,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.studyweb.model.Articleuser" >
    insert into articleuser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="refrenceid != null" >
        refrenceid,
      </if>
      <if test="arid != null" >
        arid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="refrenceid != null" >
        #{refrenceid,jdbcType=CHAR},
      </if>
      <if test="arid != null" >
        #{arid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.studyweb.model.Articleuser" >
    update articleuser
    <set >
      <if test="arid != null" >
        arid = #{arid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
    </set>
    where refrenceid = #{refrenceid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.studyweb.model.Articleuser" >
    update articleuser
    set arid = #{arid,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER}
    where refrenceid = #{refrenceid,jdbcType=CHAR}
  </update>
</mapper>